/* Reset default margin and padding for all elements */
html, body {
	margin: 0;
	padding: 0;
}

/* Set the background color for the body */
body {
	height: 100%;
	background: #7abecc !important;
}

/* Style the login card container */
.user_card {
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #74cfbf;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

/* Style the form title */
#form-title {
	color: #fff;
}

/* Style the login button */
.login_btn {
	width: 100%;
	background: #33ccff !important;
	color: white !important;
}

.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

/* Style the login form container */
.login_container {
	padding: 0 2rem;
}

/* Style the input group text */
.input-group-text {
	background: #f7ba5b !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}

/* Remove focus outline from input fields */
.input_user, .input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

/* Style the error messages */
#messages {
	background-color: grey;
	color: #fff;
	padding: 10px;
	margin-top: 10px;
}

/* Additional styles */
/* If you need to add any specific styles for this page */
/* you can add them below this comment */
